@charset "UTF-8";
/*styles for button screen*/
/*import fonts from Google API*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Roboto);/*use for numbers on page 3*/

.container{
	height:5.25in;
	width:8.5in;
	position:relative;
	padding-top:1em;
}
.container:before{
	position:absolute;
	background-image:url(../imgs/dartMap.jpg);
	width: 786px;
    height: 504px;
	opacity:.07;
	background-repeat: no-repeat;
	background-position:75% 70%;/*move background img left and up*/
	z-index:-1;
}
.col-md-12{
	padding-right:15px;
}
.lightSide{/*question text in yellow*/
	color:#fcd306;/*text against white background is DART yellow*/
	text-align:center;
}
.dartLogo{
	width:7em;
	float:left;/*starts dart img at left*/
}
#date{
	font-weight: bold;
	position: absolute;
	top: 7em;
	left:1.5em;
}
#time{
	font-weight: bold;
	position: absolute;
	top: 8.5em;
	left:1.5em;
}
.alertBar {
	height: 2em;	
	overflow: hidden;
	position: relative;
}
.alertBarText{
	color:#CA0000;
	font-family:Roboto, Verdana, Geneva, sans-serif;
	font-size:1.5em;
	/* starting position */
	-moz-transform:translateX(70%);
	-webkit-transform:translateX(70%);	
	transform:translateX(70%);
	/* animate this thing! */	
	-moz-animation: alertBarText 14s linear infinite;
	-webkit-animation: alertBarText 14s linear infinite;
	animation: alertBarText 14s linear infinite;
}
#alertBarPosition{
	top:0;
	clear:both;
}
/* move text on alert bar */
@-moz-keyframes alertBarText{
 0%   { -moz-transform: translateX(100%); }/*where text starts on line (90% over to right on screen)*/
 100% { -moz-transform: translateX(-40%); }/*how far to the left the text moves off screen before completing the animation*/
}
@-webkit-keyframes alertBarText{
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-40%); }
}
@keyframes alertBarText{
 0%   { 
 -moz-transform: translateX(100%); 
 -webkit-transform: translateX(100%); 
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-40%); 
 -webkit-transform: translateX(-40%); 
 transform: translateX(-40%); 
 }
}
.pressed{
	background-color:rgba(0,0,0,0.2);/*gives background color of black with opacity of 2*/
	padding-left:.2em;/*give more space for color around text*/
	padding-right:.2em;/*give more space for color around text*/
}
#currencyMessage{
	color:#980000;
	font-size:1.2em;
	line-height:1em;
	width:14em;
	top: 390px;
    left: 95px;
	position:absolute;
	clear:both;
	text-align:center;
}
#changeMessage{
	color:#980000;
	font-weight:bold;
	line-height:.2em;	
	top:435px;
	left:125px;
	position:absolute;
}
#addSubTicket{
	color: #17407A;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    padding-top: .15em;
}
#addSubTicketBox{
	background-color: #FFFFFF;
	border-radius: 2px;
    border: 2px solid #17407A;
    position: absolute;
    top: 200px;
    left: inherit;
    height: 2.6em;
    width: 9em;
    cursor: pointer;
}
#backDuration, #backRiders{
	color: #17407A;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    padding-top: .15em;
}
#backRidersButton, #backDurationButton{
	background-color: #FFFFFF;
    border: 2px solid #17407A;
    border-radius: 2px;
    position: absolute;
    top: 310px;
    left: inherit;
    height: 2.6em;
    width: 9em;
    cursor: pointer;
}
.zone{
	line-height:1.05in;
	font-size:2.3em;
	color:#17407a;/*DART Blue*/	
	text-align:right;
	text-decoration:none;
	cursor: pointer;
}
	.zone :link{
		color:#17407a;/*DART Blue*/
		text-decoration:none;
	}
	.zone :visited{
		color:#17407a;/*DART Blue*/
	}
	.zone :hover{
		text-decoration:none;
	}
.tripDuration{
	line-height:1.05in;
	font-size:2.3em;
	color:#17407a;/*DART Blue*/	
	text-align:right;
	text-decoration:none;
	cursor: pointer;
}
	.tripDuration :link{
		color:#17407a;/*DART Blue*/
		text-decoration:none;
	}
	.tripDuration :visited{
		color:#17407a;/*DART Blue*/
	}
	.tripDuration :hover{
		text-decoration:none;
	}
 .riderRow{
	font-size:1.8em;
	color:#17407a;/*DART Blue*/	
	text-align:right;
	text-decoration:none;
	cursor: pointer;
	margin-bottom:.5in;
}
#totalText{
	color:#17407a;/*DART Blue*/
	top:0em;
	left:4.5em;
	position:absolute;
	font-size:2em;
}
.totalRow{
	left:0em;
	top:26em;
}
.right {/*places all plus and minus buttons right*/
	display:inline-block;
	float:right;
}
/*button is greyed out until riders are 1+*/
h2#submitButton{
	margin-top: -1em;
    margin-left: -7em;
    color: #BFBFBF;
    border: 2px solid #BFBFBF;
    border-radius: 5px;
    width: 5.5em;
    height: 1.5em;
    padding-left: .9em;
    padding-top: .1em;	
}
	/*class added to submit button when 1+ riders*/
	.button{
		color: #17407A !important;
		border: 2px solid #17407A !important;
		cursor:pointer;
	}
/*********************************************incrementing numbers*********************************************/
#adultName{
	padding-top:.7em;	
}
#childNumber, #highschoolNumber, #collegeNumber, #adultNumber, #seniorNumber{
	font-family:Roboto, Verdana, Geneva, sans-serif;
	font-size:1.4em;
	color:#17407a;/*DART Blue*/
	padding-left:.2em;
}
#childNumber, #highschoolNumber{
	margin-top:-.05in;
}
#collegeNumber, #seniorNumber, #adultNumber{
	margin-top:.1in;
}
#totalNumber{
	font-family:Roboto, Verdana, Geneva, sans-serif;
	font-size:2em;
	color:#17407a;/*DART Blue*/
}
/*********************************************checkout Page*********************************************/
.tickets{
	width: 13em;
    height: 18em;
    border: 4px solid #17407A;
    border-radius: 10px;
	background-color:white;
    margin-left: 26em;
    margin-top: 3em;
}
.ticketLogo{
	width:3em;	
	padding-top:.3em;
	padding-left:.3em;
	float:left;
}
.dateStamp{
	float: left;
    padding-left: 1em;
    padding-right: 1em;	
}
.timeStamp{
	margin-left:7.5em;	
}
.ticketTitles{
	padding-left: .3em;
    margin-bottom: 0;
	color:#555;
}
.ticketInfo{
	font-size: 2em;
    padding-left: 1em;
}
#firstTicketInfo{
	font-size:2em;	
}
#firstTicket{
	margin-top: -18em;
    margin-left: 8em;
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
	box-shadow: -10px 10px 15px rgba(95, 95, 95, 0.27);
}
#secondTicket{
	margin-top: 10em;
    margin-left: 2em;
	-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Safari */
    transform: rotate(-15deg);
}
.thanksMessage{
	text-align: center;
	background-color: #eee;
}
#checkoutMessageBar{
	margin-top:6em;	
}
.checkoutMessage{
	font-size:1.6em;
	display:inline;	
	font-weight:300;
}
#checkoutSingleWord{
	display:block;	
}
#checkoutTotal{
	color: #17407A;
    font-weight: 00;
    font-size: 1.8em;
    display: inline;	
}
#checkoutTicketChild, #checkoutTicketHighschool, #checkoutTicketCollege, #checkoutTicketAdult, #checkoutTicketSenior{
	font-size:1.5em;	
}
#checkoutBalanceMessage{
	font-size: 1.4em;
    font-weight: 300;
    padding-top: 6em;	
}