@charset "UTF-8";
<<<<<<< HEAD
/*styles for touch screen*/
=======

>>>>>>> origin/master
/*import fonts from Google API use for numbers on page 3*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Roboto);*/

.container{
	height:5.25in;
	width:8.5in;
	position:relative;
<<<<<<< HEAD
	padding-top:1em;
=======
	padding-top:1em
>>>>>>> origin/master
}
.container:before{
	position:absolute;
	background-image:url(../imgs/dartMap.jpg);
	width: 786px;
    height: 504px;
	opacity:.06;
	background-repeat: no-repeat;
	background-position:75% 70%;/*move background img left and up*/
	z-index:-1;
}
h1, h2, h3, h4, h5, h6{
	margin-top:0;
	margin-bottom:10px;	
}
h2{
	font-size:1.8em;
}
ul.tab-links{
	-webkit-padding-start: 0px;
}
.tabs {
    width:100%;
    display:inline-block;
}
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
    .tab-links li {
        margin-left:10px;
        float:left;
        list-style:none;
    }
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-bottom:3px solid #17407A;
            border-radius:3px 3px 0px 0px;
            background:#EAEAEA;
            font-size:16px;
            font-weight:300;
            color:#333333;
            transition:all linear 0.15s;
        }
        .tab-links a:hover {
            background-color:rgba(0, 60, 124, 0.23);
            text-decoration:none;
        }
    li.active a, li.active a:hover {
        background-color: rgba(0,0,0,.01);
    }
    .tab-content {
        padding:15px;
        border-radius:3px;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
<<<<<<< HEAD
#tab1Value, #tab2Value{
	text-align:center;	
}
#fillerWord{
	padding-right:20px;
=======
.opacityZero{
	opacity:0;
}
#fillerWord{
	padding-left:30px;
>>>>>>> origin/master
	display:inline;
}
.dartLogo{
	width:7em;
	float:left;/*starts dart img at left*/
	clear:both;
}
#date{
	font-weight: bold;
	position: absolute;
	top: 7em;
	left:1.5em;
}
#time{
	font-weight: bold;
	position: absolute;
	top: 8.5em;
	left:1.5em;
}
.alertBar {
	height: 2em;	
	overflow: hidden;
	position: relative;
<<<<<<< HEAD
	margin-left:200px;
=======
	background-color:rgba(255,210,3,.15);
>>>>>>> origin/master
}
.alertBarText{
	color:#333;
	font-family:Roboto, Verdana, Geneva, sans-serif;
	font-size:1.5em;
	/* starting position */
	-moz-transform:translateX(70%);
	-webkit-transform:translateX(70%);	
	transform:translateX(70%);
	/* animate this thing! */	
	-moz-animation: alertBarText 14s linear infinite;
	-webkit-animation: alertBarText 14s linear infinite;
	animation: alertBarText 14s linear infinite;
}
#alertBarPosition{
	bottom:1em;
	position:absolute;/*keeps alert bar at bottom of page*/
}
/* move text on alert bar */
@-moz-keyframes alertBarText{
 0%   { -moz-transform: translateX(100%); }/*where text starts on line (90% over to right on screen)*/
 100% { -moz-transform: translateX(-40%); }/*how far to the left the text moves off screen before completing the animation*/
}
@-webkit-keyframes alertBarText{
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-40%); }
}
@keyframes alertBarText{
 0%   { 
 -moz-transform: translateX(100%); 
 -webkit-transform: translateX(100%); 
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-40%); 
 -webkit-transform: translateX(-40%); 
 transform: translateX(-40%); 
 }
}
.pressed{
	background-color:rgba(0,0,0,0.2);/*gives background color of black with opacity of 2*/
	padding-left:.2em;/*give more space for color around text*/
	padding-right:.2em;/*give more space for color around text*/
}
.backButton{
	width:60%;	
}
#currency{
	position:absolute;
	left:2em;
<<<<<<< HEAD
	bottom:-1em;
=======
	bottom:3em;
>>>>>>> origin/master
	width:180px;
}
#currencyMessage{
	color:#980000;
	font-size:1.2em;
	line-height:1em;
}
#changeMessage{
	color:#980000;
	font-weight:bold;
	font-size:1.2em;
}
sup{
	font-size:.6em;	/*change size of supserscript font to be smaller than header tags it is wrapped in*/
	padding-left:.5em;
	top:-.3em;
}
.optionButton{
	font-size:2.3em;
	color:#17407a;/*DART Blue*/	
	text-decoration:none;
	cursor: pointer;
	display:inline-block;
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #17407a;
    border-radius: 5px;
    margin-top:10px;
<<<<<<< HEAD
	margin-right:20px;
	background-color:white;
=======
    margin-left:30px;
>>>>>>> origin/master
}
	.optionButton :link{
		color:#17407a;/*DART Blue*/
		text-decoration:none;
	}
	.optionButton :visited{
		color:#17407a;/*DART Blue*/
	}
	.optionButton :hover{
		text-decoration:none;
<<<<<<< HEAD
	}
	
.opacityZero{
	opacity:0;
}
/*button is greyed out until riders are 1+*/
h2#submitButton{
	margin-left: 6em;
    margin-top: .8em;
    color: #BFBFBF;
    border: 2px solid #BFBFBF;
    border-radius: 5px;
    width: 5.5em;
    height: 1.5em;
    padding-left: .9em;
    padding-top: .1em;	
}
	/*class added to submit button when 1+ riders*/
	.button{
		color: #17407A !important;
		border: 2px solid #17407A !important;
		cursor:pointer;
=======
>>>>>>> origin/master
	}
#totalText{
	color:#17407a;/*DART Blue*/
	top:1em;
	right:1.2em;
	position:absolute;
}
/*********************************************incrementing numbers*********************************************/
#childNumber, #highschoolNumber, #collegeNumber, #adultNumber, #seniorNumber{
	font-family:Roboto, Verdana, Geneva, sans-serif;
	font-size:2.3em;
	color:#17407a;/*DART Blue*/
	padding-left:.2em;
	padding-right:.2em;
}
#childCost, #highschoolCost, #collegeCost, #adultCost, #seniorCost{
	font-family:Roboto, Verdana, Geneva, sans-serif;
	font-size:2.3em;
	color:#17407a;/*DART Blue*/	
}
#totalNumber{
	font-family:Roboto, Verdana, Geneva, sans-serif;
	font-size:2em;
	color:#17407a;/*DART Blue*/
	position:absolute;
	right:0;
	top:.7em;
}
/*********************************************signs*********************************************/
div.right h2{/*targets plus and minus buttons text on white side*/
	color:#17407a;
	line-height:1.3em;	
	margin-top:4px;
}
.minusSignImg{
	width:1.4em;
	position:relative;
	margin-top:.8em;
	margin-right:1em;
	cursor: pointer;
}
.plusSignImg{
	width:1.3em;
	position:relative;
	margin-top:.85em;
	cursor: pointer;
}
.right {/*places all plus and minus buttons right*/
	display:inline-block;
	float:left;
}
/*********************************************checkout Page*********************************************/
.tickets{
	width: 13em;
    height: 18em;
    border: 4px solid #17407A;
    border-radius: 10px;
	background-color:white;
    margin-left: 26em;
    margin-top: 3em;
}
.ticketLogo{
	width:3em;	
	padding-top:.3em;
	padding-left:.3em;
	float:left;
}
.dateStamp{
	float: left;
    padding-left: 1em;
    padding-right: 1em;	
}
.timeStamp{
	margin-left:7.5em;	
}
.ticketTitles{
	padding-left: .3em;
    margin-bottom: 0;
	color:#555;
}
.ticketInfo{
	font-size: 2em;
    padding-left: 1em;
}
#firstTicketInfo{
	font-size:2em;	
}
#firstTicket{
	margin-top: -18em;
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
	box-shadow: -10px 10px 15px rgba(95, 95, 95, 0.27);
}
#secondTicket{
	margin-left: 20em;
	-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Safari */
    transform: rotate(-15deg);
}
.thanksMessage{
	text-align: center;
	background-color: #eee;
}
.checkoutMessage{
	font-size:1.6em;
	display:inline;	
	font-weight:300;
}
#checkoutSingleWord{
	display:block;	
}
#checkoutTotal{
	color: #17407A;
    font-weight: 00;
    font-size: 1.8em;
    display: inline;	
}
#checkoutTicketChild, #checkoutTicketHighschool, #checkoutTicketCollege, #checkoutTicketAdult, #checkoutTicketSenior{
	font-size:1.5em;	
}
#checkoutBalanceMessage{
	font-size: 1.4em;
    font-weight: 300;
    padding-top: 8em;	
}